@import "../../../app/scss/palette.scss";

.button {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.16px;
  min-width: 100px;
  background-color: $primary;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;

  &:hover {
    transition: background-color 0.2s;
    background-color: darken($primary, 5);
  }

  &.contained {
    color: #fff;
  }

  &.outlined {
  }

  &.text {
  }

  &.icon {
    display: flex;
    border-radius: 50%;
    min-width: 30px;
  }

  &:disabled {
    color: $disabled-text;
    background-color: #e6e6e6;
    cursor: default;
  }
}
