@import "../../../app/scss/palette.scss";

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.input {
  display: none;

  &:checked + .radio::before {
    opacity: 1;
    transition: opacity 0.2s;
  }
}

.radio {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $primary;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    opacity: 0;
    background-color: $primary;
    transition: opacity 0.2s;
  }
}

.label {
  font-size: 15px;
}
