.select {
  position: relative;
  width: 200px;
  color: gray;
  user-select: none;
}

.label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
}

.field {
  color: gray;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 15px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.disabled {
  &.field {
    color: gray;
    border-bottom-color: gray;
    cursor: default;
  }
}
