.form {
  max-width: 700px;
}

.item {
  display: grid;
  grid-template-columns: 300px 400px;
  align-items: center;
  margin-bottom: 20px;

  &:nth-last-child(2) {
    margin-bottom: 40px;
  }
}

.itemTitle {
  font-size: 15px;
}

.radio {
  margin-bottom: 12px;
}

.numberInput {
  flex-shrink: 0;
  width: 100px;
}

.select {
  width: 100%;
}
